@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter Tight', system-ui, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html { scroll-behavior: smooth; }

body {
  margin: 0;
  background: #F2F2F0;
  color: #05050C;
}

*, *::before, *::after { box-sizing: border-box; }
